*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial,helvetica,sans-serif;
}
body{
    background-color: white;
}.maingroup{
    width: 100%;
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subgroup{
    width: 300px;
    height: 50vh;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 25px;
    border-radius: 0px;
    color: balck;
    position: relative;
   background-color: whitesmoke;
}

h1{
    color: darkblue;
    text-align: center;
}


